html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #FFF;
  font-size: 2rem;
  font-family: 'Jura', serif;
  background-color: #999999;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: 'Krona One', sans-serif;
}

h2,
h3 {
  padding-top: 2rem;
}

h1 {
  font-size: 10rem;
  text-transform: uppercase;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

::placeholder {
  font-size: 1.6rem;
}

footer a {
color: white;
}

footer a:hover,
footer a:focus {
  text-decoration: none;
}

.juno {
  color: #EA593E;
}